.input,
.btn {
    border-radius: 10px;
    border: none;
    padding: 10px 16px;
    text-transform: uppercase;
    width: 164px;
}

.input {
    background: linear-gradient(rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.4));
}

.btn {
    color: white;
    background: #1DACD3;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #26d36e;
}