.container {
  width: 100%;
  margin: 0 auto;
  padding: 44px 0;

  @media screen and (min-width: 1280px) {
    width: 1200px;
  }

}

.wrapper {
  overflow-x: auto;
}

.filter {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 42px;
  display: flex;
  gap: 24px;
  flex-basis: 86px;
  flex-wrap: wrap;
}